# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# IDA pro
*.id0
*.id1
*.id2
*.nam
*.til

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.metadata
.project
.cproject
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.directory

# Project-specific
fw.img
#source/elfldr_patch.h

# build artifacts
sdcard.img
ios.img
fw.img
boot1.img
ios_orig.img
debug/
debug_boot1/
debug_isfshax/
# my notes
dram*.txt
fat*.txt
gpu*.txt
normal_boot.txt
seq.txt
cast_test.py
fat_mnt/

.DS_Store
.vscode
